@{
    ViewBag.Title = "Productos";
}
@model IEnumerable<CarritoComprasTuCodigo.Models.Producto>

<h2>Productos</h2>
@if (Model != null)
{
    <table class="table table-condensed tbl_product">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@String.Format("{0:C}", item.Precio)</td>
                    <td><input type="number" class="form-control numbers" min="0" /></td>
                    <td class="text-center">
                        <a href="#" class="agregar" title="add to shopping car"><span class="glyphicon glyphicon-plus"></span> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script>
        $(function () {
            $(".agregar").on("click", function (event) {
                event.preventDefault();
                var ProductoId = $(this).parent().parent().find("td:eq(0)").text();
                var cantidad = $(this).parent().parent().find("td:eq(3)").find("input").val();
                if (cantidad == "")
                    alert("cantidad requerida");
                else {
                    $.ajax(
                        {
                            url: "@Url.Action("AgregaCarrito", "Carrito")",
                            data: { id: ProductoId, cantidad: cantidad },
                            type: "POST",
                            success: function (response) {
                                window.location.href = "@Url.Action("AgregaCarrito", "Carrito")";
                            },
                            error: function (err, error) {
                                alert(error);
                            }
                        }
                        );
                }
            });
            $(".numbers").keydown(function (e) {

                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 40]) !== -1 ||
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    return;
                }

                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
    </script>
}
